<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><f:render section="Title" /> | Artemis</title>
		<f:base />

		<link href="{f:uri.resource(path: 'Css/normalize.css')}" rel="stylesheet"/>
		<link href="{f:uri.resource(path: 'Css/foundation.min.css')}" rel="stylesheet"/>
		<link href="{f:uri.resource(path: 'Css/redesign.css')}" rel="stylesheet" />
		<link href="{f:uri.resource(path: 'Css/template-editor.css')}" rel="stylesheet" />
		<link href="{f:uri.resource(path: 'Css/handsontable.full.min.css')}" rel="stylesheet">

		<script src="{f:uri.resource(path: 'Js/vendor/modernizr.js')}"></script>
		<script src="{f:uri.resource(path: 'Js/vendor/jquery.js')}"></script>

		<script src="{f:uri.resource(path: 'Js/vendor/handsontable.full.min.js')}"></script>

		<script>
			$(document).ready(function() {
				if (typeof setupEditor == 'function') {
					setupEditor();
				}
			});
		</script>
	</head>
	<body>
		<div class="fixed contain-to-grid">
			<nav class="top-bar" data-topbar>
				<ul class="title-area">
					<li class="name">
						<f:link.action action="index">
							<span class="logo"></span>
						</f:link.action>
					</li>
					<li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
				</ul>
				<section class="top-bar-section">
					<ul class="right">
						<li class="has-dropdown">
							<a href="#">Customer</a>
							<ul class="dropdown">
							</ul>
						</li>
						<li class="divider"></li>
						<li class="has-dropdown">
							<a href="#">Master Data</a>
							<ul class="dropdown">
								<li class="has-dropdown not-click">
									<a href="#">Cable Guy</a>
									<ul class="dropdown">
									</ul>
								</li>
								<li class="has-dropdown not-click">
									<a href="#">Services</a>
									<ul class="dropdown">
									</ul>
								</li>
								<li class="has-dropdown not-click">
									<a href="#">Switches</a>
									<ul class="dropdown">
									</ul>
								</li>
							</ul>
						</li>
						<li class="divider"></li>
						<li>
						</li>
						<li class="has-form">
							<form action="authenticate" class="row collapse" autocomplete="off">
								<div class="columns small-5">
									<input name="__authentication[DeCix][Cws][Security][Authentication][Token][Cws][username]" placeholder="Username" additionalAttributes="{autofocus: 'true'}" />
								</div>
								<div class="columns small-5">
									<input name="__authentication[DeCix][Cws][Security][Authentication][Token][Cws][password]" placeholder="Password" />
								</div>
								<div class="columns small-2">
									<input value="Login" class="button small" />
								</div>
							</form>
						</li>
					</ul>
					<ul class="left">
						<li class="has-form">
						</li>
					</ul>
				</section>
			</nav>
		</div>

		<div class="main">
			<div class="row">
				<div class="columns small-12">
					<h1><f:render section="Headline" /></h1>
					<f:flashMessages class="flashmessages" as="messages">
						<ul class="flashmessages">
							<f:for each="{messages}" as="singleMessage">
								<li class="flashmessages-{singleMessage.severity}">{f:if(condition: '{singleMessage.title}', then: '<h3>{singleMessage.title}</h3>', else:'')}{singleMessage.message}{f:if(condition: '{singleMessage.code}', then: ' #{singleMessage.code}', else:'')}</li>
							</f:for>
						</ul>
					</f:flashMessages>
					<f:form.validationResults>
						<f:if condition="{validationResults.flattenedErrors}">
							<ul class="flashmessages">
								<f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="errors">
									<f:for each="{errors}" as="error">
											<li class="flashmessages-Error">
												<b>Validation error:</b><br />
												{error -> f:translate(id: error.code, arguments: error.arguments, package: 'TYPO3.Flow', source: 'ValidationErrors')}
											</li>
									</f:for>
								</f:for>
							</ul>
						</f:if>
					</f:form.validationResults>
				</div>
			</div>
			<f:render section="Content" />
		</div>


		<div id="modalWindow">
			<div class="modalWindow-outer">
				<div class="modalWindow-inner">
				</div>
			</div>
		</div>

		<div id="loaderAnimation">
		    <span></span>
		    <span></span>
		    <span></span>
		</div>

		<div id="contextInformation">
			<div>{globalContext.context}</div>
			<div>
				<b>CWS:</b> {globalContext.cws.url}<br />
				<b>MYSQL:</b> {globalContext.persistence.backendOptions.host}<br />
				<b>DB:</b> {globalContext.persistence.backendOptions.dbname}
			</div>
		</div>

	</body>
</html>