html {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	max-width: none;
	min-height: 100%;
	overflow-y: scroll;
	padding: 0;
}

a {color:#008c8c;}
p {
	line-height: 1.3;
	margin: .5em 0 0;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}
sup {vertical-align: super;}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}

/* === GLOBAL ICONS === */
.iconButton {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #f0f0f0;
	background-position: center;
	border-radius: 4px;
	border: 1px solid #ccc;
	display: inline-block;
	height: 28px;
	overflow: hidden;
	padding: 4px 6px;
	text-indent: -500px;
	vertical-align: middle;
	width: 32px;
}
.icon-search {
	background-image: url(Icons/search.png);
	background-repeat: no-repeat;
}
.icon-customer {
	background-image: url(Icons/customer.png);
	background-repeat: no-repeat;
}
.icon-masterData {
	background-image: url(Icons/masterdata.png);
	background-repeat: no-repeat;
}
.icon-save {
	background-image: url(Icons/save.png);
	background-repeat: no-repeat;
}
.icon-trash {
	background-image: url(Icons/trash.png);
	background-repeat: no-repeat;
}
.icon-edit {
	background-image: url(Icons/edit.png);
	background-repeat: no-repeat;
}
.icon-dashboard {
	background-image: url(Icons/dashboard.png);
	background-repeat: no-repeat;
}
.icon-statistics {
	background-image: url(Icons/statistics.png);
	background-repeat: no-repeat;
}
.icon-smokePing {
	background-image: url(Icons/smokePing.png);
	background-repeat: no-repeat;
}
.icon-lookingGlass {
	background-image: url(Icons/lookingGlass.png);
	background-repeat: no-repeat;
}
.icon-decommissioned {
	background-image: url(Icons/decommissioned.png);
	background-repeat: no-repeat;
}
.icon-remove {
	background-image: url(Icons/remove.png);
	background-repeat: no-repeat;
}
.icon-move {
	background-image: url(Icons/move.png);
	background-repeat: no-repeat;
}

/* === LAYOUT === */
.logo {
	background: url(Images/artemis_logo.png) scroll no-repeat left top transparent;
	float: left;
	height: 20px;
	margin: 15px 0 0 14px;
	width: 202px;
}

.top-bar-section ul,
.top-bar-section .has-form,
.contain-to-grid,
.top-bar {
	background-color: #ffcf00;
}
.top-bar input[type="text"] {
	padding: 0.35rem;
	height: auto;
}
.top-bar-section li:not(.has-form) a:not(.button) {
	background-color: #636363;
}
.main {
	margin-top: 20px;
	padding-bottom: 30px;
}
.main > .row + .row {margin-top: 20px;}

.column.has-border,
.columns.has-border {
	border-right: 1px solid #E3E3E3;
}

/* === BUTTON STYLES === */
.switchToggle {
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: inset 1px 0 2px 0 #333;
	color: #fff;
	font-size: 12px;
	margin: 3px 5px;
	overflow: visible;
	padding: 3px 10px;
	position: relative;
	text-decoration: none;
}
.switchToggle:after {
	background: rgb(204,204,204); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, rgba(204,204,204,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(204,204,204,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
	content: ' ';
	border-radius: 15px;
	height: 30px;
	position: absolute;
	top: -4px;
	width: 30px;
}
.switchToggle-on {
	background-color: #1B6B15;
	padding-right: 33px;
}
.switchToggle-right {
	padding-right: 33px;
}
.switchToggle-on:after,
.switchToggle-right:after {
	right: -3px;
}
.switchToggle-off {
	background-color: #A02020;
	padding-left: 33px;
}
.switchToggle-left {
	padding-left: 33px;	
}
.switchToggle-off:after,
.switchToggle-left:after {
	left: -3px;
}
.switchToggle-info {
	background-color: #205EA0;
}

/* === HEADLINES ===*/

/* === TABLE === */
/* Tablesorter Icons */
.tablesorter-header {
	background-attachment: scroll;
	background-position: right center;
	background-repeat: no-repeat;
	cursor: pointer;
	padding-right: 15px;
}
.tablesorter-headerAsc {background-image: url(Images/metro-black-asc.png);}
.tablesorter-headerDesc {background-image: url(Images/metro-black-desc.png);}

/* === CSS-TABS === */
.tabs-content > .content {
	float: none;
	outline: 1px solid #ccc;
	padding: 0 0.9375em;
}
.tabs dd.active > a {
	background-color: #ccc;
}

/* === FORMS === */
input:focus:invalid {border-color: #B94A48;}
input:focus:valid {border-color: #468847;}
input:required:invalid {border-color: #C09853;}

select[multiple] {
	background-image: none;
	height: auto;
}

input.button--append {
	background-position: center;
	overflow: hidden;
	text-indent: -500px;
}

textarea {resize: vertical;}


/* === FLASH MESSAGES === */
.flashmessages {
	list-style: none;
	padding: 0;
	margin: 10px;
}
.flashmessages > li {
	border-style: solid;
	border-width: 1px;
	padding: 5px;
}
.flashmessages h3 {
	color: inherit;
	margin: 0 0 8px;
}

.flashmessages-ok,
.flashmessages-OK {
	background-color: #DFF0D8;
	border-color: #D6E9C6;
	color: #468847;
}

.flashmessages-notice,
.flashmessages-Notice {
	background-color: #D9EDF7;
	border-color: #BCE8F1;
	color: #3A87AD;
}

.flashmessages-error,
.flashmessages-Error {
	background-color: #F2DEDE;
	border-color: #EED3D7;
	color: #B94A48;
}

.flashmessages-warning,
.flashmessages-Warning {
	background-color: #FCF8E3;
	border-color: #FBEED5;
	color: #C09853;
}

/* === COMPONENTS === */
.login {
	float: right;
	margin: 10px 20px 0 0;
}

.list {
	list-style-position: inside;
	margin: 15px 0;
	padding-left: 0
}
ul.list {
	list-style: none;
}
.list li {
	padding: 8px 0 8px 5px;
}
.list li:nth-child(odd) {
	background-color: #eee;
}
.list a {
	text-decoration: none;
}


#modalWindow {
	display: none !important;
}
.modalWindow-outer {
	background-color: rgba(50,50,50,.7);
	bottom: 0;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.modalWindow-inner {
	background-color: #fff;
	border: 1px solid #030303;
	border-radius: 5px;
	-webkit-box-shadow:  0 0 5px 0 #333333;
	box-shadow:  0 0 5px 0 #333333;
	left: 50%;
	padding: 20px 10px;
	position: fixed;
	top: 200px;
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 25%;
}

/* === LOGIN SCREEN ONLY === */
#loginScreen {
	background: url(Images/login.jpg) scroll no-repeat center top;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
}
#loginBox {
	background-color: #ffcf00;
	border: 1px solid #ffed00;
	border-radius: 4px;
	height: 400px;
	left: 18%;
	position: absolute;
	top: 23%;
	width: 400px;
}

/* === SNAFU === */
#snafu {
	background: url(Images/snafu.jpg) scroll no-repeat center center transparent;
	bottom: 0;
	position: absolute;
	width: 100%;
	top: 49px;
}

/* === CSS LOADER === */
#loaderAnimation {
	background-color: rgba(200,200,200,0.7);
	border-radius: 4px;
	height: 120px;
	left: 50%;
    text-align: center;
	top: 25%;
	position: absolute;
	transform: translateX(-50%);
	width: 150px;
	z-index: 2;
	display: none;
}
#loaderAnimation > span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 50px auto;
    background-color: #E2001A;
    border-radius: 50px;
    -webkit-animation: loader 0.9s infinite alternate;
    -moz-animation: loader 0.9s infinite alternate;
}
#loaderAnimation > span:nth-of-type(2) {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}
#loaderAnimation > span:nth-of-type(3) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}
@-webkit-keyframes loader {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0.9;
    -webkit-transform: translate3d(0,0,0);
  }
  100% {
    width: 24px;
    height: 24px;
    opacity: 0.1;
    -webkit-transform: translate3d(0,-21px,0);
  }
}
@-moz-keyframes loader {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0.9;
    -moz-transform: translate3d(0,0,0);
  }
  100% {
    width: 24px;
    height: 24px;
    opacity: 0.1;
    -moz-transform: translate3d(0,-21px,0);
  }
}
@keyframes loader {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0.9;
    transform: translate3d(0,0,0);
  }
  100% {
    width: 24px;
    height: 24px;
    opacity: 0.1;
    transform: translate3d(0,-21px,0);
  }
}


/* Progress bar animation */
@-webkit-keyframes progress-bar-stripes {
	from { background-position: 40px 0; }
	to { background-position: 0 0; }
}
@keyframes progress-bar-stripes {
	from { background-position: 40px 0; }
	to { background-position: 0 0; }
}

.meter.loadingAnimation {
	animation: 2s linear 0s normal none infinite progress-bar-stripes;
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-size: 40px 40px;
}

.floatRightBox {
	float: right;
	margin-right: 10px;
}

#contextInformation {
	background-color: #cacaca;
	bottom: -51px; 
	opacity: .7;
	padding: 5px;
	position: fixed;
	right: 0;
	transition: all 300ms ease-out;
}
#contextInformation:hover {bottom: 0;}
#contextInformation > div:last-child {
	font-size: 14px;
	margin-top: 10px;
}


/*  ==== MOBILE === */
/*
@media all and (max-width: 80em) {
	#tableWrapper,
	.sidebar,
	.contentArea {
		display: block;
	}
	body {
		background-image: none;
	}
	.sidebar {
		background-color: #666;
		width: auto;
	}
	nav > div {
		padding-right: 20px;
		width: auto;
	}
}
*/