table.template-overview form {
	display: inline-block;
	margin: 0;
}

table.template-overview .button {
	margin: 0;
}

textarea#source, div#preview {
	width: 100%;
	height: 25rem;
}

div#preview {
	background-color: #eee;
	padding: 1em;
	overflow: scroll;
}

div#preview.error {
	background-color: #eaa;
}