<f:layout name="Default"/>

<f:section name="Title">Edit template</f:section>
<f:section name="Headline">Edit template</f:section>

<f:section name="Content">
	<f:form method="post" id="edit-form" action="update" object="{template}" name="template"
			additionalAttributes="{previewUrl: previewUrl, getPreviewDataUrl: getPreviewDataUrl}">
		<div class="row">
			<div class="small-12 columns">
				<fieldset>
					<legend>Properties</legend>
					<label>Name
						<f:form.textfield property="name" id="name" additionalAttributes="{required: 'required'}"/>
					</label>
					<label>Category
						<f:form.select property="category" id="category"
									   options="{categories}"
									   additionalAttributes="{required: 'required'}"/>
					</label>
				</fieldset>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<fieldset>
					<legend>Template</legend>
					<div class="row">
						<div class="small-6 columns">
							<label>Source
								<f:form.textarea property="source" id="source"
												 additionalAttributes="{required: 'required'}"/>
							</label>
						</div>
						<div class="small-6 columns">
							<label>Preview
								<div id="preview" style="font-family: monospace; white-space: pre;"></div>
							</label>
						</div>
					</div>
					<div class="row">
						<div class="small-8 columns">
							<label>Preview fields</label>
							<div id="previewfields"></div>
							<f:form.hidden id="jsonPreviewData" name="jsonPreviewData"/>
						</div>
						<div class="small-4 columns text-right">
							<input type="button" id="previewbutton" class="button small" onclick="fetchPreview()" value="Preview"/>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
			<div class="row">
				<div class="small-12 columns text-right">
					<f:form.submit class="button" value="Save"/>
				</div>
			</div>
	</f:form>
	<script>
		function setupEditor() {
			var $formId = $('#edit-form');
			var $source = $('#source');
			var container = document.getElementById('previewfields');
			previewFields = new Handsontable(container, {
				colHeaders: ['Field', 'Value'],
				startCols: 2,
				startRows: 1,
				contextMenu: ['remove_row'],
				autoWrapCol: true,
				autoWrapRow: true,
				minCols: 2,
				colWidths: [250, 400],
				minSpareRows: 1,
				afterChange: function (change, source) {
					if (source === 'loadData') {
						return; //don't save this change
					}
					fetchPreview();
				}
			});

			$source.keydown(function (e){
				// ctrl+s or command+s to save
				if ((e.metaKey || e.ctrlKey) && e.keyCode == 83) {
					e.preventDefault();
					$formId.submit();
					return false;
				}

				// ctrl+enter or command+enter to preview
				if ((e.metaKey || e.ctrlKey) && e.keyCode == 13) {
					e.preventDefault();
					fetchPreview();
					return false;
				}
			});

			$.ajax({
				url: $formId.attr('getPreviewDataUrl'),
				data: $formId.serialize(),
				success: function (data) {
					previewFields.loadData(data);
					fetchPreview();
				}
			});
		}

		function fetchPreview() {
			var $button = $('#previewbutton');
			var $formId = $('#edit-form');

			$button.attr('disabled','disabled');

			$('#jsonPreviewData').val(JSON.stringify(previewFields.getData()));

			$.ajax({
				url: $formId.attr('previewUrl'),
				data: $formId.serialize(),
				success: function (data) {
					$preview = $('#preview');
					$preview.removeClass('error')
					$preview.text(data);
					$button.removeAttr('disabled');
				},
				error: function (data) {
					$preview = $('#preview');
					$preview.addClass('error')
					$preview.text(data.responseText);
					$button.removeAttr('disabled');
				}
			});
		}
	</script>

</f:section>
