<f:layout name="Default"/>

<f:section name="Title">Templates</f:section>
<f:section name="Headline">Available templates</f:section>

<f:section name="Content">
	<div class="row">
		<div class="small-12 columns">
			<f:link.action class="button" action="new">Add new template</f:link.action>
			<f:if condition="{templates}">
				<table class="table table-striped template-overview">
					<thead>
					<tr>
						<th>Name</th>
						<th>Category</th>
						<th>Action</th>
					</tr>
					</thead>
					<tbody>
					<f:for each="{templates}" as="template">
						<tr>
							<td>{template.name}</td>
							<td>{template.categoryLabel}</td>
							<td>
								<f:link.action action="edit" arguments="{template: template}" class="button">Edit
								</f:link.action>
								<f:form method="POST" action="delete" object="template">
									<f:form.hidden name="template" value="{template}"/>
									<f:form.submit class="button" value="Delete"/>
								</f:form>
							</td>
						</tr>
					</f:for>
					</tbody>
				</table>
			</f:if>
		</div>
	</div>
</f:section>