<f:layout name="Default"/>

<f:section name="Title">New template</f:section>
<f:section name="Headline">Add new template</f:section>

<f:section name="Content">
	<f:form method="post" action="create" object="{template}" name="template">
		<div class="row">
			<div class="small-6 columns">
				<fieldset>
					<legend>Properties</legend>
					<label>Name
						<f:form.textfield property="name" id="name" additionalAttributes="{required: 'required'}"/>
					</label>
					<label>Category
						<f:form.select property="category" id="category"
									   options="{categories}"
									   additionalAttributes="{required: 'required'}"/>
					</label>
				</fieldset>
			</div>
			<div class="small-6 columns">
				<fieldset>
					<legend>Template</legend>
					<label>Source
						<f:form.textarea property="source" id="source"
										 additionalAttributes="{required: 'required'}"/>
					</label>
				</fieldset>
			</div>
		</div>
			<div class="row">
				<div class="small-12 columns text-right">
					<f:form.submit value="Create template"/>
				</div>
			</div>
	</f:form>
</f:section>